/**
 *  Project: onepageMD
 *  File: blackandwhite.css a native available stylesheet file
 *  Author: Samuel Roland
 *  Creation date: 20.02.2021
 */

.mdstyle h1 {
  color: black;
}
.mdstyle h2 {
  color: rgb(20, 20, 20);
}
.mdstyle h3 {
  color: rgb(60, 59, 59);
}
.mdstyle h4 {
  color: rgb(60, 59, 59);
}
.mdstyle h5 {
  color: rgb(60, 59, 59);
}
.mdstyle h6 {
  color: rgb(60, 59, 59);
}

.mdstyle p code,
.mdstyle li code {
  color: rgb(255, 255, 255);
  background-color: #646464;
  padding: 2px 5px;
  border-radius: 5px;
  font-family: Verdana;
  font-size: 0.9em;
}

.mdstyle pre {
  background-color: #c5d2ff;
  padding: 5px;
  border-radius: 5px;
}

.mdstyle li {
  margin-bottom: 10px;
}
